# Created by .ignore support plugin (hsz.mobi)

# local
*/local

# Pycharm
.idea

# metadata/local.meta
*/metadata/local.meta

# Ignore the bin/linux which can be extracted
*/bin/linux

# Read the doc & Sphinx
docs/_build
docs/_static
docs/_templates

